<h1>Introduction</h1>

<h2>Where to edit files</h2>
<p>
    This file is located at views/homepage.ejs. For more information on how to create a single-page app on top 
    of this API, see <a href="http://sailsjs.org/#!/documentation/concepts/Views?q=what-about-singlepage-apps" target="_blank">What about single-page apps?</a>
</p>
 
<h2>Documentation</h2>

<ul>
  <li><a href="https://github.com/benetech/math-speech-rule-editor/wiki" target="_blank">Mocks</a></li>
  <li><a href="https://github.com/benetech/math-speech-rule-editor/wiki/API-Definitions" target="_blank">API Definitions</a></li>
  <li><a href="https://github.com/zorkow/speech-rule-engine" target="_blank">Speech Rule Engine</a></li>
  <li><a href="http://sailsjs.org/#!/documentation/concepts" target="_blank">Sails documentation</a></li>
  <li><a href="http://www.gh-mathspeak.com/examples/grammar-rules/" target="_blank">Sample Grammar Rules</a></li>
</ul>

